<div class="container">
  <h2>Reset Password</h2>
  <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="password">New Password:</label>
      <input
        type="password"
        id="password"
        formControlName="password"
        class="form-control"
        placeholder="Enter your new password"
      />
      <div
        *ngIf="password?.invalid && (password?.dirty || password?.touched)"
        class="error"
      >
        <small *ngIf="password?.errors?.['required']"
          >Password is required.</small
        >
        <small *ngIf="password?.errors?.['minlength']"
          >Password must be at least 6 characters long.</small
        >
      </div>
    </div>

    <div class="form-group">
      <label for="passwordConfirm">Confirm Password:</label>
      <input
        type="password"
        id="passwordConfirm"
        formControlName="passwordConfirm"
        class="form-control"
        placeholder="Re-enter your new password"
      />
      <div
        *ngIf="
          passwordConfirm?.invalid &&
          (passwordConfirm?.dirty || passwordConfirm?.touched)
        "
        class="error"
      >
        <small *ngIf="passwordConfirm?.errors?.['required']"
          >Confirm password is required.</small
        >
        <small *ngIf="passwordConfirm?.errors?.['mustMatch']"
          >Passwords do not match.</small
        >
      </div>
    </div>

    <button
      type="submit"
      class="btn-submit"
      [disabled]="resetPasswordForm.invalid"
    >
      Reset Password
    </button>
  </form>
</div>
