<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>seller</title>
    <!--favicon-->
    <link rel="icon" href="../../../../../assets/images/favicon-32x32.png" type="image/png">
    <!-- loader-->
    <link href="../../../../../assets/css/pace.min.css" rel="stylesheet">
    <script src="../../../../../assets/js/pace.min.js"></script>
  
    <!--plugins-->
    <link href="../../../../../assets/plugins/perfect-scrollbar/css/perfect-scrollbar.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../../../../../assets/plugins/metismenu/metisMenu.min.css">
    <link rel="stylesheet" type="text/css" href="../../../../../assets/plugins/metismenu/mm-vertical.css">
    <link rel="stylesheet" type="text/css" href="../../../../../assets/plugins/simplebar/css/simplebar.css">
    <!--bootstrap css-->
    <link href="../../../../../assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Material+Icons+Outlined" rel="stylesheet">
    <!--main css-->
    <link href="../../../../../assets/css/bootstrap-extended.css" rel="stylesheet">
    <link href="../../../../../assets/sass/main.css" rel="stylesheet">
    <!-- <link href="sass/dark-theme.css" rel="stylesheet">
    <link href="sass/blue-theme.css" rel="stylesheet">
    <link href="sass/semi-dark.css" rel="stylesheet"> -->
    <link href="../../../../../assets/sass/bordered-theme.css" rel="stylesheet">
    <link href="../../../../../assets/sass/responsive.css" rel="stylesheet">
  
  </head>


<aside class="sidebar-wrapper" data-simplebar="true">
    <div class="sidebar-header">
      <div class="logo-icon">
        <img src="assets/images/logo-icon.png" class="logo-img" alt="">
      </div>
      <div class="logo-name flex-grow-1">
        <h5 class="mb-0">PerfuMe</h5>
      </div>
      <div class="sidebar-close">
        <span class="material-icons-outlined">close</span>
      </div>
    </div>
    <div class="sidebar-nav">
      <!--navigation-->
      <ul class="metismenu" id="sidenav">
        <li>
          <a href="javascript:;" class="has-arrow">
            <div class="parent-icon"><i class="material-icons-outlined">home</i>
            </div>
            <div class="menu-title">Dashboard</div>
          </a>
          <ul>
            <li><a [routerLink]="['/SuperAdminAnalysis']"
                   
              ><i class="material-icons-outlined" routerLinkActive="router-link-active">arrow_right</i>Analysis</a>
            </li>
          </ul>
        </li>
        <li>
          
          <ul>
            <li><a routerLink="/SuperAdminBranches"  routerLinkActive="router-link-active"><i class="material-icons-outlined">arrow_right</i>Branches</a>
            </li>
            <li><a routerLink="/admProducts" routerLinkActive="router-link-active"><i class="material-icons-outlined">arrow_right</i>Products</a>
            </li>
            <li><a routerLink="/admOrders" routerLinkActive="router-link-active"><i class="material-icons-outlined">arrow_right</i>Orders</a>
            </li>
            <li><a routerLink="/deliver" routerLinkActive="router-link-active"><i class="material-icons-outlined">arrow_right</i>internal Orders deliver</a>

            </li>
            <li><a routerLink="/deliver" routerLinkActive="router-link-active"><i class="material-icons-outlined">arrow_right</i>internal Orders recive</a>
              
            </li>
            
          </ul>  
        </li>
      </ul>
      <!--end navigation-->
    </div>
  </aside>



  <script src="../../../../../assets/js/bootstrap.bundle.min.js"></script>

  <!--plugins-->
  <script src="../../../../../assets/js/jquery.min.js"></script>
  <!--plugins-->
  <script src="../../../../../assets/plugins/perfect-scrollbar/js/perfect-scrollbar.js"></script>
  <script src="../../../../../assets/plugins/metismenu/metisMenu.min.js"></script>
  <script src="../../../../../assets/plugins/apexchart/apexcharts.min.js"></script>
  <script src="../../../../../assets/plugins/simplebar/js/simplebar.min.js"></script>
  <script src="../../../../../assets/plugins/peity/jquery.peity.min.js"></script>
  <script>
    $(".data-attributes span").peity("donut")
  </script>
  <script src="../../../../../assets/js/index2.js"></script>
  <script src="../../../../../assets/js/dashboard2.js"></script>
  <script src="../../../../../assets/js/main.js"></script>
  
