
<div class="container-fluid hero-section vh-100 d-flex align-items-center">
    <div class="container py-5">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-md-7 hero-text text-center">
                <h1 class="fw-bold">Discover Our Exquisite Perfumes</h1>
    
                <h2 class="fw-bold">Shop the Finest Fragrances</h2>
    
                <p>
                    Indulge in the luxury of our handpicked collection of perfumes and fragrances. 
                    From timeless classics to modern blends, find the perfect scent for every occasion.
                    Cras venenatis euismod malesuada. Nulla facilisi.
                </p>
    
                <a RouterLink="" class="btn custom-btn" (click)="shopNow()">Shop Now</a>
            </div>

        </div>
    </div>
</div>
