<div class="container">
    <div class="row my-5">
        <div class="col-md-6 mb-4 text-center">
            <div class="category-card">
                <img src="../../../../../assets/c-m.jpg" alt="" class="img-fluid category-img">
                <h2 class="my-4">Men’s</h2>
            </div>
        </div>

        <div class="col-md-6 mb-4 text-center">
            <div class="category-card">
                <img src="../../../../../assets/c-w.jpg" alt="" class="img-fluid category-img">
                <h2 class="my-4">women’s</h2>
            </div> 
        </div>
    </div>
</div>
